[defaults]
inventory            = inventory.ini
host_key_checking    = False
interpreter_python   = /usr/bin/python3
stdout_callback      = yaml
display_skipped_hosts = False
forks                = 6

[ssh_connection]
pipelining = True
